* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background: #111;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

header  a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

header nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  transition: color 0.3s ease;
}

header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #ffffff; /* cor da linha */
  transition: width 0.3s ease;
}



header nav a:hover::after {
  width: 100%;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px;
}

section img {
  width: 40%;
  max-width: 500px;
  border-radius: 10px;
}

.content {
  width: 50%;
  padding: 20px;
}


/* Alternando seções */

.Banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #111;
  color: #fff;
}

.Banner h1 {
  font-size: 5rem; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 6px; 
  text-transform: uppercase;
  color: #fff; 
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6); 
  margin-bottom: 10px;
}

.Banner h2 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: #aaa; 
}



.section1 {
  flex-direction: row;
  background: #101413;
  color: #989282;
}

.section2 {
  flex-direction: row-reverse;
  background: #D6C3A2;
}


.section1 h2, .section2 h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.section1 p, .section2 p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.section1, .section2 {
  opacity: 0;
  transform: translateY(60px); /* começa deslocado pra baixo */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* quando a classe "visible" é adicionada */
.section1.visible, .section2.visible {
  opacity: 1;
  transform: translateY(0);
}



/* footer */

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media(max-width: 768px) {
  section {
    flex-direction: column !important;
    text-align: center;
    height: auto;
    padding: 80px 20px;
  }

  section img {
    width: 80%;
  }

  .content {
    width: 100%;
  }
}